<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="feedgenerationinstructiondict" type="FeedGenerators.Core.SectionHandlers.FeedGenerationInstructionsSectionHandler,FeedGenerators.Core" />
    <section name="userattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="Exceptional" type="StackExchange.Exceptional.Settings, StackExchange.Exceptional" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="BatchDB" connectionString="Data Source=164SD-9120;Initial Catalog=BatchDB;Integrated Security=SSPI;Connection Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="Data" connectionString="server=QACUSTDBSQL\DEV_CUSTOMERDB;database=CustomerDB;Integrated Security=TRUE;" providerName="System.Data.SqlClient" />
    <add name="ApplicationLogs" connectionString="data source=QABROWSESQL\dev_BrowseDB;Initial Catalog=ApplicationLogs;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="RunType" value="1" /> <!-- 1 - full run, 2 - incremental, 3 - on demand -->
    <add key="FeedId" value="15" />
    <add key="Builder.AllowIncrementalRuns" value="true" />
    <add key="Builder.IncrementalRunBufferTimeLength" value="0" />
    <add key="Builder.ReportFolder" value="./reports" />
    <add key="Builder.ReportFileNameFormat" value="report_{0}_{1}_{2}.json" />    <!-- 0 - feedId, 1 - feedRunId, 2 - executionStartTime -->
    <add key="Builder.ReportMaxNumberOfMessages" value="20" />
    <add key="TestIncrementalRunFromDate" value="2016-01-01" />   <!-- Easy way to set an incremental date value. Needs to be set to blank on prod. -->
    <add key="MaximumThreadsToUse" value="1" />
    <add key="MaximumThreadsToUseForWatchers" value="0" />
    <add key="MaximumThreadsToUseForSendingData" value="1" /> 
    <add key="FullRunParameterName" value="full" />   <!-- Param name for enforcing a full run -->
    <add key="MaximumFeedRunsToKeep" value="20" />
    <add key="DataCommandTimeout" value="12000" />   <!--// sql command timeout in seconds - set to a very high number -->
    <add key="AllowItemErrorsInFiles" value="false" />
    <add key="ReplaceSpecialCharacters" value="true" />
    <add key="AllowedSpecialCharacters" value="Ä,ä,À,à,Á,á,Â,â,Ã,ã,Å,å,Ǎ,ǎ,Ą,ą,Ă,ă,Ç,ç,Ć,ć,Ĉ,ĉ,Č,č,Ď,đ,Đ,ď,È,è,É,é,Ê,ê,Ë,ë,Ě,ě,Ę,ę,Ĝ,ĝ,Ģ,ģ,Ĥ,ĥ,Ì,ì,Í,í,Î,î,Ï,ï,Ĵ,ĵ,Ķ,ķ,Ĺ,ĺ,Ļ,ļ,Ł,ł,Ñ,ñ,Ń,ń,Ň,ň,Ö,ö,Ò,ò,Ó,ó,Ô,ô,Õ,õ,Ő,ő,Ø,ø,Ŕ,ŕ,Ř,ř,ẞ,ß,Ś,ś,Ŝ,ŝ,Ş,ş,Š,š,Ť,ť,Ţ,ţ,Ü,ü,Ù,ù,Ú,ú,Û,û,Ű,ű,Ũ,ũ,Ų,ų,Ŵ,ŵ,Ý,ý,Ÿ,ÿ,Ŷ,ŷ,Ź,ź,Ž,ž,Ż,ż" />
    <add key="RemoveHtmlTagsFromDescription" value="true" />
    <add key="AllowDescriptionSanitization" value="true" />
    <add key="ReplaceSpecialCharactersInDescription" value="true" />

    <!-- Generated File Settings -->
    <add key="OutputProcessor.OutputFolderPath" value="./working" />
    <add key="DoneFileFileName" value="execution.done" />
    <add key="OutputProcessor.LimitTo100Products" value="false" />    <!-- Should be set to false in production. -->
    <add key="OutputProcessor.OutputFileMoveMethod" value="1" />    <!-- 0 for no moving, 1 for processor -->
    <add key="OutputProcessor.MoveDoneFile" value="true" />
    <add key="OutputProcessor.FileWatcherPollingInterval.Seconds" value="10" />
    <add key="OutputProcessor.FileWatcherEnabled" value="false" />
    <add key="DeletedProductsStoredProcedureName" value="" />
    <add key="OutputProcessor.NumberOfRecordsPerBatch" value="10000" />
    <add key="OutputProcessor.FileNameFormat" value="UserData_{0}.xml" />
    <add key="OutputProcessor.GzipFiles" value="true" />
    <add key="OutputProcessor.UseSerialization" value="false" />
    <add key="OutputProcessor.NumberOfTrialsPerSendRequest" value="2" />
    
    <!-- FTP settings -->
    <add key="Destination.FtpHost" value="sdex.indigo.ca" />
    <add key="Destination.FtpDropFolderPath" value="/UserData" />
    <add key="Destination.FtpUserName" value="Ven_FTPQA" />
    <add key="Destination.FtpUserPassword" value="NeedToBeProvided" />
    <add key="Destination.FtpBufferSize" value="4096" />
    
    <!-- Service Bus settings -->
    <add key="Destination.ServiceBus.ConnectionString" value="Endpoint=sb://sterlingservicebusdev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=rbe9VBkuK1v0oGnawR4XEks7oGCOINfBJHVOBX8i0zA=" />
    <add key="Destination.ServiceBus.QueueName" value="online-customers-delta" />
    <add key="Destination.ServiceBus.ContentType" value="application/xml" />
    
    <!-- Notwork Share settings -->
    <add key="Destination.Network.ShareFolderPath" value="\\SomeShare\UserData" />

    <!-- New Relic -->
    <add key="NewRelic.AppName" value="Sterling Feed Export Customer Data" />
    <add key="NewRelic.AgentEnabled" value="false" />
    <add key="NewRelic.LicenseKey" value="494677f36c2e219981f3f772dc661d15f3fa5ccf" />
  </appSettings>
  <feedgenerationinstructiondict>
    <add key="users" isincluded="true" catalog="Users" dbcmd="spSterlingCustomerExport" catalogattributesection="userattributes" splitter="0-0;1-1;2-2;3-3;4-4;5-5;6-6;7-7;8-8;9-9;10-10;11-11;12-12;13-13;14-14;15-15;16-16;17-17;18-18;19-19;20-20;21-21;22-22;23-23;24-24;25-25;26-26;27-27;28-28;29-29;30-30;31-31;32-32;33-33;34-34;35-35;36-36;37-37;38-38;39-39;40-40;41-41;42-42;43-43;44-44;45-45;46-46;47-47;48-48;49-49;50-50;51-51;52-52;53-53;54-54;55-55;56-56;57-57;58-58;59-59;60-60;61-61;62-62;63-63;64-64;65-65;66-66;67-67;68-68;69-69;70-70;71-71;72-72;73-73;74-74;75-75;76-76;77-77;78-78;79-79;80-80;81-81;82-82;83-83;84-84;85-85;86-86;87-87;88-88;89-89;90-90;91-91;92-92;93-93;94-94;95-95;96-96;97-97;98-98;99-99;" />
  </feedgenerationinstructiondict>
  <userattributes>
    <add key="sourceId" value="CustomerId" />
  </userattributes>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MMM.yy HH:mm:ss} %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/Execution.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MMM.yy HH:mm:ss:fff} [%thread] %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <Exceptional applicationName="SterlingFeedExportCustomerData">
    <IgnoreErrors>
      <!-- Error messages to ignore (optional) -->
      <Regexes />
      <!-- Error types to ignore, e.g. <add type="System.Exception" /> or -->
      <Types />
    </IgnoreErrors>
    <!-- Error log store to use -->
    <ErrorStore type="SQL" connectionStringName="ApplicationLogs" />
  </Exceptional>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
