<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="feedgenerationinstructiondict" type="FeedGenerators.Core.SectionHandlers.FeedGenerationInstructionsSectionHandler,FeedGenerators.Core" />
    <section name="generalmerchandiseattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="booksattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="stringresourcedictionary" type="Indigo.Feeds.Utils.SectionHandlers.StringResourceSectionHandler, Indigo.Feeds" />
    <section name="itemformatdict" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <connectionStrings>
    <add name="BatchDB" connectionString="Data Source=164SD-9120;Initial Catalog=BatchDB;Integrated Security=SSPI;Connection Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="OdysseyCommerceDB" connectionString="server=164SD-9120;database=Odyssey_Commerce;Integrated Security=TRUE;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="FeedId" value="9" />
    <add key="GooglePlaFeedId" value="1" />
    <add key="GoogleApiPlaFeedGenerator.AllowIncrementalRuns" value="true" />
    <add key="GoogleApiPlaFeedGenerator.IncrementalRunBufferTimeLength" value="2" /><!-- in hours, integer -->
    <add key="TestIncrementalRunFromDate" value="" /><!-- Easy way to set an incremental date value. Needs to be set to blank on prod. -->
    <add key="MaximumThreadsToUse" value="3" />
    <add key="MaximumThreadsToUseForWatchers" value="3" />
    <add key="MaximumThreadsToUseForApiCalls" value="3" />
    <add key="FullRunParameterName" value="full" /><!-- Param name for enforcing a full run -->
    <add key="MaximumFeedRunsToKeep" value="20" />
    <add key="GoogleApiPlaFeedGenerator.LimitTo100Products" value="true" /> <!-- Should be set to false in production. -->
    <add key="SearchDataCommandTimeout" value="12000" /><!--// sql command timeout in seconds - set to a very high number -->
    <add key="GoogleApiPlaFeedGenerator.SkipHasImageCheck" value="true" /><!-- Set to true for testing with a larger set of products. Should be false in production. -->
    <add key="GoogleApiPlaFeedGenerator.FileWatcherPollingInterval.Seconds" value="10" />
    <add key="AllowItemErrorsInFiles" value="false" />
    <add key="AllowDeletedCategories" value="true" />
    <add key="AllowRuleOptimizations" value="true" />
    <add key="AllowRuleEntryRemovals" value="true" />
    <add key="AllowIEnumerableRuleEvaluations" value="true" />
    <add key="AllowAmericanGirlProducts" value="true" />
    <add key="ReplaceSpecialCharacters" value="true" />
    <add key="AllowedSpecialCharacters" value="Ä,ä,À,à,Á,á,Â,â,Ã,ã,Å,å,Ǎ,ǎ,Ą,ą,Ă,ă,Ç,ç,Ć,ć,Ĉ,ĉ,Č,č,Ď,đ,Đ,ď,È,è,É,é,Ê,ê,Ë,ë,Ě,ě,Ę,ę,Ĝ,ĝ,Ģ,ģ,Ĥ,ĥ,Ì,ì,Í,í,Î,î,Ï,ï,Ĵ,ĵ,Ķ,ķ,Ĺ,ĺ,Ļ,ļ,Ł,ł,Ñ,ñ,Ń,ń,Ň,ň,Ö,ö,Ò,ò,Ó,ó,Ô,ô,Õ,õ,Ő,ő,Ø,ø,Ŕ,ŕ,Ř,ř,ẞ,ß,Ś,ś,Ŝ,ŝ,Ş,ş,Š,š,Ť,ť,Ţ,ţ,Ü,ü,Ù,ù,Ú,ú,Û,û,Ű,ű,Ũ,ũ,Ų,ų,Ŵ,ŵ,Ý,ý,Ÿ,ÿ,Ŷ,ŷ,Ź,ź,Ž,ž,Ż,ż" />
    <add key="RemoveHtmlTagsFromDescription" value="true" />
    <add key="AllowDescriptionSanitization" value="true" />
    <add key="ReplaceSpecialCharactersInDescription" value="true" />
    <add key="BlacklistedGoogleAvailabilities" value="outofstock" />
    <add key="MaxTitleLength" value="70" /><!-- if set to 0, code will ignore this value-->
    <add key="GooglePlaFeedGenerator.TruncateTitle" value="true" /><!-- Set to true to truncate title but leave format intact, false to truncate title including format string -->
    <add key="MaximumBreadcrumbsToSend" value="10" />
    <add key="GoogleAdwordsRedirectUrlSuffix" value="" />
    <add key="GoogleImagePathSuffix" value="?width=800&amp;maxheight=800" />
    <add key="DynamicImagesUrl" value="http://dynamic.indigoimages.ca" />
    <add key="DisplayDefaultShoppingInfo" value="false" />
    <add key="DefaultShippingCountryAbbreviation" value="CA" />
    <add key="DefaultShippingServiceName" value="Standard" />
    <add key="DefaultShippingPriceText" value="0.00" />
    <add key="CanonicalProductDataValue" value="Canonical" /> <!-- If left blank, no code for sending custom label 4 for canonical products will be executed -->
    <!--<add key="SendExcludedProductData" value="false"/>-->
    <add key="PhoenixOnlineBaseUrl" value="https://www.chapters.indigo.ca" />
    <add key="BreadcrumbTrailSplitter" value=" &gt; " />
    <add key="IdTrailSplitter" value="-" />
    <add key="EndecaRootCategoryDimensionId" value="50" />
    <add key="DisplaySalePriceInfo" value="true" />
    <add key="DisplaySalePriceTimeSpanInfo" value="true" />
    <add key="SalePriceInfoTimeSpanBegin" value="-1" /><!-- in days -->
    <add key="SalePriceInfoTimeSpanEnd" value="3" /><!-- in days, from SalePriceInfoTimeSpanBegin -->
    <!-- Generated File Settings -->
    <add key="GoogleApiPlaFeedGenerator.OutputFolderPath" value="./working" />
    <add key="DoneFileFileName" value="execution.done" />
    <add key="GoogleApiPlaFeedGenerator.OutputFileMoveMethod" value="1" />
    <!-- In the dev data most times "editor" should take priority over
    "illustrator", however sometimes the case is reversed. 
    Not sure how to deal with that. -->
    <add key="BookContributorTypes" value="author,editor,illustrator,other" />
    <add key="DeletedProductsStoredProcedureName" value="uspGoogleSearchDeletedProductsPla" />
    <add key="NumberOfProductsPerApiCall" value="1750" /> <!-- Note that if the batch count is increased above 1750, then 400.13 Request Too Large exceptions are being generated on production -->
    <add key="NumberOfTrialsPerApiCall" value="2" />
    <!-- GoogleShoppingApiIntegration Keys - BEGIN -->
    <add key="GoogleShoppingApiIntegration.MerchantId" value="9093220" />
    <add key="GoogleApiPlaFeedGenerator.ApplicationName" value="Google API PLA Feed Generator" />
    <add key="GoogleApiPlaFeedGenerator.GoogleShoppingApiIntegration.ClientSecretsFileFolderPath" value="./Inputs" />
    <add key="GoogleApiPlaFeedGenerator.GoogleShoppingApiIntegration.ClientSecretsFileName" value="DEV CONTENT API PROJECT-e4f9e0f00225.json" />
    <!-- GoogleShoppingApiIntegration Keys - END -->
  </appSettings>

  <!--availability dictionary-->
  <stringresourcedictionary>
    <add key="instock" indigovalue="In Stock" googlevalue="in stock"></add>
    <add key="preorder" indigovalue="Pre-Order" googlevalue="preorder"></add>
    <add key="outofstock" indigovalue="out of stock" googlevalue="out of stock"></add>
    <add key="availablefororder" indigovalue="available for order" googlevalue="in stock"></add>
  </stringresourcedictionary>

  <!--// dictionary of product format codes  -->
  <itemformatdict>
    <add key="aa" value="Audio Book" />
    <add key="cd" value="Audio Book" />
    <add key="ya" value="Book &amp; Audio" />
    <add key="bc" value="Book &amp; CD-ROM" />
    <add key="bs" value="Book &amp; Software" />
    <add key="ty" value="Book &amp; Toy" />
    <add key="bv" value="Book &amp; Video" />
    <add key="c1" value="Cassette Abridged" />
    <add key="c2" value="Cassette Unabridged" />
    <add key="c3" value="CD Abridged" />
    <add key="c4" value="CD Unabridged" />
    <add key="eb" value="eBook" />
    <add key="era" value="eReading Accessory" />
    <add key="erd" value="eReading Device" />
    <add key="tc" value="Hardcover" />
    <add key="mm" value="Mass Market" />
    <add key="q" value="Trade Paper" />
    <add key="tp" value="Trade Paperback" />
  </itemformatdict>
  <!--// criteria indicating if indicated feeds needs to be generated (true) or not (false)  -->
  <feedgenerationinstructiondict>
    <add key="books" isincluded="true" catalog="Books" dbcmd="uspGoogleSearchBooksPla" catalogattributesection="booksattributes" splitter="00-04;05-09;10-14;15-19;20-24;25-29;30-34;35-39;40-44;45-49;50-54;55-59;60-64;65-69;70-74;75-79;80-84;85-89;90-94;95-99" />
    <add key="generalmerchandise" isincluded="true" catalog="GeneralMerchandise" dbcmd="uspGoogleSearchGeneralGeneralMerchandisePla" catalogattributesection="generalmerchandiseattributes" splitter="0-99" />
  </feedgenerationinstructiondict>
  <booksattributes>
    <add key="gId" value="PID" />
    <add key="title" value="title" />
    <add key="description" value="Description" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="gGoogleProductCategory" value="Media &gt; Books" />
    <add key="linkCatalog" value="books" />
    <add key="linkSku" value="ISBN13" />
    <add key="secondarySku" value="ISBN" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="gGtin" value="ISBN13" />
    <add key="hasImage" value="HasImage" />
    <add key="contributors" value="Contributors" />
    <add key="bisacbindingtypeid" value="BISACBindingTypeID" />
    <add key="recordType" value="RecordType" />
    <add key="isCanonical" value="IsCanonical" />
    <add key="IsSensitiveProduct" value="IsSensitiveProduct" />
  </booksattributes>
  <generalmerchandiseattributes>
    <add key="gId" value="PID" />
    <add key="title" value="Name_en" />
    <add key="description" value="Description" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="gGoogleProductCategory" value="Apparel &amp; Accessories" />
    <add key="linkCatalog" value="Gifts" />
    <add key="linkSku" value="UPC13" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="gGtin" value="UPC13" />
    <add key="gBrand" value="BrandName_en" />
    <add key="recordType" value="RecordType" />
    <add key="isCanonical" value="IsCanonical" />
  </generalmerchandiseattributes>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" />
        <codeBase version="1.2.10.0" href="lib\log4net.1.2.10\log4net.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <codeBase version="1.2.13.4" href="lib\log4net.1.2.13\log4net.dll" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
