<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <component
      service="Indigo.Feeds.Generator.Core.Processors.Contracts.IOutputProcessor,Indigo.Feeds.Generator.Core"
      type="Indigo.Feeds.Generator.Core.Processors.OutputXmlProcessor,Indigo.Feeds.Generator.Core"
      lifestyle="singleton">
    </component>
    <!-- Use for Service Bus Destination -->
    <component
      type="Indigo.Feeds.Generator.Azure.Models.ServiceBusConfiguration,Indigo.Feeds.Generator.Azure">
      <parameters>
        <connectionString>#{Destination.ServiceBus.ConnectionString}</connectionString>
        <destinationName>#{Destination.ServiceBus.QueueName}</destinationName>
        <contentType>#{Destination.ServiceBus.ContentType}</contentType>
      </parameters>
    </component>
    <component
      service="Indigo.Feeds.Generator.Core.Processors.Contracts.IDestinationProcessor`1&#91;&#91;System.IO.FileInfo&#93;&#93;,Indigo.Feeds.Generator.Core"
      type="Indigo.Feeds.Generator.Azure.Processors.ServiceBusProcessor,Indigo.Feeds.Generator.Azure"
      lifestyle="singleton">
    </component>
    <!-- Use for Network Destination -->
    <!--<component
      type="Indigo.Feeds.Generator.Core.Models.NetworkConfiguration,Indigo.Feeds.Generator.Core">
      <parameters>
        <destination>#{Destination.Network.ShareFolderPath}</destination>
        <allowOverwite>true</allowOverwite>
      </parameters>
    </component>
    <component
      service="Indigo.Feeds.Generator.Core.Processors.Contracts.IDestinationProcessor`1&#91;&#91;System.IO.FileInfo&#93;&#93;,Indigo.Feeds.Generator.Core"
      type="Indigo.Feeds.Generator.Core.Processors.NetworkFolderProcessor,Indigo.Feeds.Generator.Core"
      lifestyle="singleton">
    </component>-->
  </components>
</configuration>
