<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="feedgenerationinstructiondict" type="FeedGenerators.Core.SectionHandlers.FeedGenerationInstructionsSectionHandler,FeedGenerators.Core" />
    <section name="generalmerchandiseattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="booksattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="stringresourcedictionary" type="Indigo.Feeds.Utils.SectionHandlers.StringResourceSectionHandler, Indigo.Feeds" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <connectionStrings>
    <add name="BatchDB" connectionString="Data Source=164SD-9120;Initial Catalog=BatchDB;Integrated Security=SSPI;Connection Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="OdysseyCommerceDB" connectionString="server=164SD-9120;database=Odyssey_Commerce;Integrated Security=TRUE;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="FeedId" value="8" />
    <add key="GoogleInventoryPricingFeedGenerator.AllowIncrementalRuns" value="true" />
    <add key="GoogleInventoryPricingFeedGenerator.IncrementalRunBufferTimeLength" value="0" /><!-- in hours, integer -->
    <add key="TestIncrementalRunFromDate" value="" /> <!-- Easy way to set an incremental date value. Needs to be set to blank on prod. -->
    <add key="GooglePlaFeedId" value="1" />
    <add key="MaximumThreadsToUse" value="1" />
    <add key="FullRunParameterName" value="full" /><!-- Param name for enforcing a full run -->
    <add key="MaximumFeedRunsToKeep" value="10" />
    <add key="GoogleInventoryPricingFeedGenerator.LimitTo100Products" value="true" />
    <add key="SearchDataCommandTimeout" value="12000" />
    <!--// sql command timeout in seconds - set to a very high number -->
    <add key="GoogleInventoryPricingFeedGenerator.SkipHasImageCheck" value="true" /><!-- Set to true for testing with a larger set of products. Should be false in production. -->
    <add key="AllowItemErrorsInFiles" value="false" />
    <add key="AllowDeletedCategories" value="true" />
    <add key="AllowRuleOptimizations" value="true" />
    <add key="AllowRuleEntryRemovals" value="true" />
    <add key="AllowIEnumerableRuleEvaluations" value="true" />
    <add key="AllowAmericanGirlProducts" value="true" />
    <add key="ReplaceSpecialCharacters" value="true" />
    <add key="AllowedSpecialCharacters" value="Ä,ä,À,à,Á,á,Â,â,Ã,ã,Å,å,Ǎ,ǎ,Ą,ą,Ă,ă,Ç,ç,Ć,ć,Ĉ,ĉ,Č,č,Ď,đ,Đ,ď,È,è,É,é,Ê,ê,Ë,ë,Ě,ě,Ę,ę,Ĝ,ĝ,Ģ,ģ,Ĥ,ĥ,Ì,ì,Í,í,Î,î,Ï,ï,Ĵ,ĵ,Ķ,ķ,Ĺ,ĺ,Ļ,ļ,Ł,ł,Ñ,ñ,Ń,ń,Ň,ň,Ö,ö,Ò,ò,Ó,ó,Ô,ô,Õ,õ,Ő,ő,Ø,ø,Ŕ,ŕ,Ř,ř,ẞ,ß,Ś,ś,Ŝ,ŝ,Ş,ş,Š,š,Ť,ť,Ţ,ţ,Ü,ü,Ù,ù,Ú,ú,Û,û,Ű,ű,Ũ,ũ,Ų,ų,Ŵ,ŵ,Ý,ý,Ÿ,ÿ,Ŷ,ŷ,Ź,ź,Ž,ž,Ż,ż" />
    <add key="BlacklistedGoogleAvailabilities" value="outofstock" />
    <add key="SendExcludedProductData" value="false" />
    <add key="FeedXmlns" value="http://www.w3.org/2005/Atom" />
    <add key="PhoenixOnlineBaseUrl" value="https://www.chapters.indigo.ca" />
    <add key="GoogleFeedTitle" value="Indigo Online" />
    <add key="FeedXmlsnsG" value="http://base.google.com/ns/1.0" />
    <add key="BreadcrumbTrailSplitter" value=" &gt; " />
    <add key="IdTrailSplitter" value="-" />
    <add key="EndecaRootCategoryDimensionId" value="50" />
    <add key="DisplaySalePriceInfo" value="true" />
    <add key="DisplaySalePriceTimeSpanInfo" value="true" />
    <add key="SalePriceInfoTimeSpanBegin" value="-1" /><!-- in days -->
    <add key="SalePriceInfoTimeSpanEnd" value="3" /><!-- in days, from SalePriceInfoTimeSpanBegin -->
    <!-- Generated File Settings -->
    <add key="GoogleInventoryPricingFeedGenerator.GzipFiles" value="true" />
    <add key="GoogleInventoryPricingFeedGenerator.OutputFolderPath" value="./outputs" />
    <add key="PrimaryOutputFolderName" value="Google" />
    <add key="DoneFileFileName" value="execution.done" />
    <add key="FileNameFormat" value="Inventory-and-pricing_{0}.xml" />
    <add key="GoogleInventoryPricingFeedGenerator.OutputFileMoveMethod" value="0" /><!-- 0 for no moving, 1 for FTP, 2 for file copy -->
    <!-- FTP settings -->
    <add key="GoogleInventoryPricingFeedGenerator.FtpHost" value="sdax.indigo.ca" />
    <add key="GoogleInventoryPricingFeedGenerator.FtpDropFolderPath" value="/" />
    <add key="GoogleInventoryPricingFeedGenerator.FtpUserName" value="sftp_GoogleCS" />
    <add key="GoogleInventoryPricingFeedGenerator.FtpUserPassword" value="NeedFromTechServices" />
    <add key="FtpBufferSize" value="4096" />
    <!-- File Copy settings -->
    <add key="GoogleInventoryPricingFeedGenerator.TargetFolderPath" value="\\prdftpsdax01\sftp_GoogleCS\PLA" />

    <!-- In the dev data most times "editor" should take priority over
    "illustrator", however sometimes the case is reversed. 
    Not sure how to deal with that. -->
    <add key="BookContributorTypes" value="author,editor,illustrator,other" />
  </appSettings>

  <!--availability dictionary-->
  <stringresourcedictionary>
    <add key="instock" indigovalue="In Stock" googlevalue="in stock"></add>
    <add key="preorder" indigovalue="Pre-Order" googlevalue="preorder"></add>
    <add key="outofstock" indigovalue="out of stock" googlevalue="out of stock"></add>
    <add key="availablefororder" indigovalue="available for order" googlevalue="in stock"></add>
  </stringresourcedictionary>

  <!--// criteria indicating if indicated feeds needs to be generated (true) or not (false)  -->
  <feedgenerationinstructiondict>
    <add key="books" isincluded="true" catalog="Books" dbcmd="uspGoogleInventoryAndPricingFeedBooks" catalogattributesection="booksattributes" splitter="00-04;05-09;10-14;15-19;20-24;25-29;30-34;35-39;40-44;45-49;50-54;55-59;60-64;65-69;70-74;75-79;80-84;85-89;90-94;95-99" />
    <add key="generalmerchandise" isincluded="true" catalog="GeneralMerchandise" dbcmd="uspGoogleInventoryAndPricingFeedGeneralMerchandise" catalogattributesection="generalmerchandiseattributes" splitter="0-99" />
  </feedgenerationinstructiondict>
  <booksattributes>
    <add key="gId" value="PID" />
    <add key="title" value="Title" />
    <add key="sku" value="ISBN13" />
    <add key="secondarySku" value="ISBN" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailabilityId" value="AvailabilityId" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="linkCatalog" value="books" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="contributors" value="Contributors" />
    <add key="hasImage" value="HasImage" />
    <add key="recordType" value="RecordType" />
  </booksattributes>
  <generalmerchandiseattributes>
    <add key="gId" value="PID" />
    <add key="title" value="Name_en" />
    <add key="sku" value="UPC13" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailabilityId" value="AvailabilityId" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="linkCatalog" value="Gifts" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="gBrand" value="BrandName_en" />
    <add key="recordType" value="RecordType" />
  </generalmerchandiseattributes>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" />
        <codeBase version="1.2.10.0" href="lib\log4net.1.2.10\log4net.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
