<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.serviceModel>
      <client>
        <endpoint address="net.pipe://#{CsiUrl}/CatalogueService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_ICatalogueServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/CatalogueService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_ICatalogueServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/CustomerListService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_ICustomerListServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/CustomerListService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_ICustomerListServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/MerchAdminService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IMerchAdminServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/MerchAdminService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IMerchAdminServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/MerchandisingService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IMerchandisingServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/MerchandisingService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IMerchandisingServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/OrderService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IOrderServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/OrderService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IOrderServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/ProfileService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IProfileServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/ProfileService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IProfileServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/ReferenceDataService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IReferenceDataServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/ReferenceDataService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IReferenceDataServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/SocialService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_ISocialServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/SocialService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_ISocialServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/StoreService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IStoreServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/StoreService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IStoreServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/AdminService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IAdminServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/AdminService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IAdminServiceContract" />
        <endpoint address="net.pipe://#{CsiUrl}/EcommerceService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetNamedPipeBinding_IEcommerceServiceContract" />
        <endpoint address="net.tcp://#{CsiUrl}:12345/EcommerceService.svc" xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" name="NetTcpBinding_IEcommerceServiceContract" />
      </client>
    </system.serviceModel>
</configuration>