<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BatchDB" connectionString="Data Source=164SD-9120;Initial Catalog=BatchDB;Integrated Security=SSPI;Connection Timeout=90;enlist=false;" providerName="System.Data.SqlClient" />
    <add name="RecosDB" connectionString="data source=QABROWSESQL\dev_BROWSEDB;initial catalog=RecosDB;Integrated Security=SSPI;Connection Timeout=90;enlist=false;" providerName="System.Data.SqlClient" />
    <add name="Ektron.DbConnection" connectionString="data source=QABROWSESQL\dev_BROWSEDB;initial catalog=cms400_v85sp2;Integrated Security=SSPI;Connection Timeout=90;enlist=false;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="BreadcrumbTrailSplitter" value=" &gt; " />
    <add key="IdTrailSplitter" value="-" />
    
    <!-- Enable/disable specific tasks -->
    <add key="EnableCategoryUpdates" value="true" />
    <add key="EnableBrandUpdates" value="true" />
    <add key="EnableCmsProductListArchiving" value="true" />
    <add key="EnableDefaultRecosUpdates" value="true" />

    <!-- Endeca settings -->
    <add key="EndecaUrl" value="172.17.4.50" /> <!-- Stage value is: 172.17.4.50 --> <!-- the value that was entered with RR was 172.17.8.83 -->
    <add key="EndecaPort" value="15000" />
    <add key="EndecaCategoryId" value="50" />
    <add key="EndecaSectionId" value="34" />
    <add key="EndecaBrandEnId" value="606326" /> 
    <add key="EndecaBrandFrId" value="750126" /> <!-- Not in use -->
    <add key="EndecaEnglishLanguageFilterId" value="750074" /> 
    <add key="EndecaFrenchLanguageFilterId" value="750075" />
    <add key="TopCategoryId" value="828847" />
    <add key="EndecaEreadingCategoryId" value="750061" /> <!-- Not in use -->
    <add key="EndecaEreadingUrlKey" value="ereading" /> <!-- Not in use -->
    <add key="EndecaEreadingUrlReplacementValue" value="books" /> <!-- Not in use -->

    <!-- CSI settings -->
    <add key="CsiBindingName" value="NetTcpBinding" />
    
    <!-- CMS settings -->
    <add key="CmsRewardsCentreConfigId" value="33849" />
    <add key="AllowedDefaultRecommendationLanguageIds" value="4105,3084" />
  </appSettings>
<system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_ICatalogueServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_ICustomerListServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IMerchAdminServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IMerchandisingServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IOrderServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IProfileServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IReferenceDataServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_ISocialServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IStoreServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IAdminServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetNamedPipeBinding_IEcommerceServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICatalogueServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ICustomerListServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IMerchAdminServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IMerchandisingServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IOrderServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IProfileServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IReferenceDataServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ISocialServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IStoreServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAdminServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IEcommerceServiceContract" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://csi.dev.indigo.ca/CatalogueService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ICatalogueServiceContract" contract="Indigo.CSI.ICatalogueServiceContract" name="NetNamedPipeBinding_ICatalogueServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/CatalogueService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICatalogueServiceContract" contract="Indigo.CSI.ICatalogueServiceContract" name="NetTcpBinding_ICatalogueServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/CustomerListService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ICustomerListServiceContract" contract="Indigo.CSI.ICustomerListServiceContract" name="NetNamedPipeBinding_ICustomerListServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/CustomerListService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICustomerListServiceContract" contract="Indigo.CSI.ICustomerListServiceContract" name="NetTcpBinding_ICustomerListServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/MerchAdminService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMerchAdminServiceContract" contract="Indigo.CSI.IMerchAdminServiceContract" name="NetNamedPipeBinding_IMerchAdminServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/MerchAdminService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMerchAdminServiceContract" contract="Indigo.CSI.IMerchAdminServiceContract" name="NetTcpBinding_IMerchAdminServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/MerchandisingService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMerchandisingServiceContract" contract="Indigo.CSI.IMerchandisingServiceContract" name="NetNamedPipeBinding_IMerchandisingServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/MerchandisingService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMerchandisingServiceContract" contract="Indigo.CSI.IMerchandisingServiceContract" name="NetTcpBinding_IMerchandisingServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/OrderService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOrderServiceContract" contract="Indigo.CSI.IOrderServiceContract" name="NetNamedPipeBinding_IOrderServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/OrderService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IOrderServiceContract" contract="Indigo.CSI.IOrderServiceContract" name="NetTcpBinding_IOrderServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/ProfileService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IProfileServiceContract" contract="Indigo.CSI.IProfileServiceContract" name="NetNamedPipeBinding_IProfileServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/ProfileService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProfileServiceContract" contract="Indigo.CSI.IProfileServiceContract" name="NetTcpBinding_IProfileServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/ReferenceDataService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IReferenceDataServiceContract" contract="Indigo.CSI.IReferenceDataServiceContract" name="NetNamedPipeBinding_IReferenceDataServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/ReferenceDataService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReferenceDataServiceContract" contract="Indigo.CSI.IReferenceDataServiceContract" name="NetTcpBinding_IReferenceDataServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/SocialService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_ISocialServiceContract" contract="Indigo.CSI.ISocialServiceContract" name="NetNamedPipeBinding_ISocialServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/SocialService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISocialServiceContract" contract="Indigo.CSI.ISocialServiceContract" name="NetTcpBinding_ISocialServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/StoreService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IStoreServiceContract" contract="Indigo.CSI.IStoreServiceContract" name="NetNamedPipeBinding_IStoreServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/StoreService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStoreServiceContract" contract="Indigo.CSI.IStoreServiceContract" name="NetTcpBinding_IStoreServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/AdminService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IAdminServiceContract" contract="Indigo.CSI.IAdminServiceContract" name="NetNamedPipeBinding_IAdminServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/AdminService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAdminServiceContract" contract="Indigo.CSI.IAdminServiceContract" name="NetTcpBinding_IAdminServiceContract" />
      <endpoint address="net.pipe://csi.dev.indigo.ca/EcommerceService.svc" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IEcommerceServiceContract" contract="Indigo.CSI.IEcommerceServiceContract" name="NetNamedPipeBinding_IEcommerceServiceContract" />
      <endpoint address="net.tcp://csi.dev.indigo.ca:12345/EcommerceService.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEcommerceServiceContract" contract="Indigo.CSI.IEcommerceServiceContract" name="NetTcpBinding_IEcommerceServiceContract" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" />
        <codeBase version="1.2.10.0" href="lib\log4net.1.2.10\log4net.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" />
        <codeBase version="1.2.13.4" href="lib\log4net.1.2.13\log4net.dll" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
