<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="feedgenerationinstructiondict" type="FeedGenerators.Core.SectionHandlers.FeedGenerationInstructionsSectionHandler,FeedGenerators.Core" />
    <section name="productattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MMM.yy HH:mm:ss} %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./logs/Execution.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd.MMM.yy HH:mm:ss:fff} %-5level - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="BatchDB" connectionString="Data Source=164SD-9120;Initial Catalog=BatchDB;Integrated Security=SSPI;Connection Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="Data" connectionString="server=qaosql06\dev_storedb;database=Odyssey_Commerce2002;Integrated Security=TRUE;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="IncludeMerchantCategoryInLayoutModule" value="true" />
    <add key="ReturnWindow" value="365" />
    <add key="RunType" value="1" />
    <!-- 1 - full run, 2 - incremental, 3 - on demand -->
    <add key="FeedId" value="18" />
    <add key="Builder.AllowIncrementalRuns" value="true" />
    <add key="Builder.IncrementalRunBufferTimeLength" value="120" />
    <add key="TestIncrementalRunFromDate" value="2016-01-01" />
    <!-- Easy way to set an incremental date value. Needs to be set to blank on prod. -->
    <add key="MaximumThreadsToUse" value="4" />
    <add key="MaximumThreadsToUseForWatchers" value="0" />
    <add key="MaximumThreadsToUseForSendingData" value="1" />
    <add key="FullRunParameterName" value="full" />
    <!-- Param name for enforcing a full run -->
    <add key="MaximumFeedRunsToKeep" value="20" />
    <add key="DataCommandTimeout" value="12000" />
    <!--// sql command timeout in seconds - set to a very high number -->
    <add key="AllowItemErrorsInFiles" value="true" />
    <add key="ReplaceSpecialCharacters" value="true" />
    <add key="AllowedSpecialCharacters" value="Ä,ä,À,à,Á,á,Â,â,Ã,ã,Å,å,Ǎ,ǎ,Ą,ą,Ă,ă,Ç,ç,Ć,ć,Ĉ,ĉ,Č,č,Ď,đ,Đ,ď,È,è,É,é,Ê,ê,Ë,ë,Ě,ě,Ę,ę,Ĝ,ĝ,Ģ,ģ,Ĥ,ĥ,Ì,ì,Í,í,Î,î,Ï,ï,Ĵ,ĵ,Ķ,ķ,Ĺ,ĺ,Ļ,ļ,Ł,ł,Ñ,ñ,Ń,ń,Ň,ň,Ö,ö,Ò,ò,Ó,ó,Ô,ô,Õ,õ,Ő,ő,Ø,ø,Ŕ,ŕ,Ř,ř,ẞ,ß,Ś,ś,Ŝ,ŝ,Ş,ş,Š,š,Ť,ť,Ţ,ţ,Ü,ü,Ù,ù,Ú,ú,Û,û,Ű,ű,Ũ,ũ,Ų,ų,Ŵ,ŵ,Ý,ý,Ÿ,ÿ,Ŷ,ŷ,Ź,ź,Ž,ž,Ż,ż" />
    <add key="RemoveHtmlTagsFromDescription" value="true" />
    <add key="AllowDescriptionSanitization" value="true" />
    <add key="ReplaceSpecialCharactersInDescription" value="true" />
    <add key="OnhandSafetyFactorQuantity" value ="2"/>

    <!-- Generated File Settings -->
    <add key="OutputProcessor.OutputFolderPath" value="./online-products" />
    <add key="DoneFileFileName" value="execution.done" />
    <add key="OutputProcessor.LimitTo100Products" value="false" />
    <!-- Should be set to false in production. -->
    <add key="OutputProcessor.OutputFileMoveMethod" value="1" />
    <!-- 0 for no moving, 1 for processor -->
    <add key="OutputProcessor.MoveDoneFile" value="true" />
    <add key="OutputProcessor.FileWatcherPollingInterval.Seconds" value="10" />
    <add key="OutputProcessor.FileWatcherEnabled" value="false" />
    <add key="DeletedProductsStoredProcedureName" value="" />
    <add key="OutputProcessor.NumberOfRecordsPerBatch" value="10000" />
    <add key="OutputProcessor.FileNameFormat" value="OnlineProducts_{0}.xml" />
    <add key="OutputProcessor.GzipFiles" value="true" />
    <add key="OutputProcessor.UseSerialization" value="false" />
    <add key="OutputProcessor.NumberOfTrialsPerSendRequest" value="2" />

    <!-- FTP settings -->
    <add key="Destination.FtpHost" value="sdex.indigo.ca" />
    <add key="Destination.FtpDropFolderPath" value="/online-products" />
    <add key="Destination.FtpUserName" value="Ven_FTPQA" />
    <add key="Destination.FtpUserPassword" value="abc" />
    <add key="Destination.FtpBufferSize" value="4096" />

    <!-- Service Bus settings -->
    <add key="Destination.ServiceBus.ConnectionString" value="Endpoint=sb://sterlingservicebusdev.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=rbe9VBkuK1v0oGnawR4XEks7oGCOINfBJHVOBX8i0zA=" />
    <add key="Destination.ServiceBus.QueueName" value="online-products-delta" />
    <add key="Destination.ServiceBus.ContentType" value="application/xml" />
    <!-- Notwork Share settings -->
    <add key="Destination.Network.ShareFolderPath" value="\\SomeShare\UserData" />

    <!-- New Relic -->
    <add key="NewRelic.AppName" value="Sterling Feed Export Product Categories" />
    <add key="NewRelic.AgentEnabled" value="false" />
    <add key="NewRelic.LicenseKey" value="494677f36c2e219981f3f772dc661d15f3fa5ccf" />

    <!-- Builder -->
    <add key="Builder.ReportFolder" value="./reports" />
    <add key="Builder.ReportFileNameFormat" value="report_{0}_{1}_{2}.json" />
    <!-- 0 - feedId, 1 - feedRunId, 2 - executionStartTime -->
    <add key="Builder.ReportMaxNumberOfMessages" value="20" />

  </appSettings>
  <feedgenerationinstructiondict>
    <add key="products" isincluded="true" catalog="Products" dbcmd="spSterlingOnlineProductExport" catalogattributesection="productattributes" splitter="00-09;10-19;20-29;30-39;40-49;50-59;60-69;70-79;80-89;90-99" />
  </feedgenerationinstructiondict>
  <productattributes>
    <add key="sourceId" value="SKU" />
  </productattributes>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>