<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <root>
      <level xdt:Transform="SetAttributes(value)" value="#{LoggerLevel}"/>
    </root>
    <appender xdt:Locator="Match(name)" name="RollingFileAppender">
      <file value="#{Sterling.FeedExporter.LogFolderBase}\#{Octopus.Action.Package.NuGetPackageId}\PosSalesDataFeedGenerator.log"
            xdt:Transform="SetAttributes(value)"/>
    </appender>    
  </log4net>
</configuration>