<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="feedGenerationFileInstructions" type="FeedGenerators.Core.SectionHandlers.FeedGenerationFileInstructionsSectionHandler,FeedGenerators.Core" />
    <section name="toysattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="generalmerchandiseattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="ebooksattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="booksattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="stringresourcedictionary" type="Indigo.Feeds.Utils.SectionHandlers.StringResourceSectionHandler, Indigo.Feeds" />
    <section name="itemformatdict" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
  </configSections>
  <connectionStrings>
    <add name="BatchDB" connectionString="Data Source=164SD-9120;Initial Catalog=BatchDB;Integrated Security=SSPI;Connection Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="OdysseyCommerceDB" connectionString="server=164SD-9120;database=Odyssey_Commerce;Integrated Security=TRUE;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DeleteWorkingFiles" value="true" />
    <add key="FeedId" value="5" />
    <add key="AllowIncrementalRuns" value="false" />
    <add key="IncrementalRunDeletedProductsStoredProcedureName" value="uspRRFeedGetDeletedItems" />
    <add key="IncrementalRunBufferTimeLength" value="7" /> <!-- in hours, integer -->
    <add key="MaximumThreadsToUse" value="3" /> <!-- Original value: 3 -->
    <add key="FullRunParameterName" value="full" /><!-- Param name for enforcing a full run -->
    <add key="MaximumFeedRunsToKeep" value="10" />
    <add key="RRFeedGenerator.LimitTo100Products" value="true" />
    <add key="RRFeedGenerator.SkipHasImageCheck" value="true" /> <!-- Set to true for testing with a larger set of products. Should be false in production. -->
    <add key="TestIncrementalRunFromDate" value="" /> <!-- Easy way to set an incremental date value. Needs to be set to blank on prod. -->
    <add key="AllowItemErrorsInFiles" value="true" />
    <add key="SearchDataCommandTimeout" value="12000" /> <!--// sql command timeout in seconds - set to a very high number -->
    <add key="ReplaceSpecialCharacters" value="true" />
    <add key="AllowedSpecialCharacters" value="Ä,ä,À,à,Á,á,Â,â,Ã,ã,Å,å,Ǎ,ǎ,Ą,ą,Ă,ă,Ç,ç,Ć,ć,Ĉ,ĉ,Č,č,Ď,đ,Đ,ď,È,è,É,é,Ê,ê,Ë,ë,Ě,ě,Ę,ę,Ĝ,ĝ,Ģ,ģ,Ĥ,ĥ,Ì,ì,Í,í,Î,î,Ï,ï,Ĵ,ĵ,Ķ,ķ,Ĺ,ĺ,Ļ,ļ,Ł,ł,Ñ,ñ,Ń,ń,Ň,ň,Ö,ö,Ò,ò,Ó,ó,Ô,ô,Õ,õ,Ő,ő,Ø,ø,Ŕ,ŕ,Ř,ř,ẞ,ß,Ś,ś,Ŝ,ŝ,Ş,ş,Š,š,Ť,ť,Ţ,ţ,Ü,ü,Ù,ù,Ú,ú,Û,û,Ű,ű,Ũ,ũ,Ų,ų,Ŵ,ŵ,Ý,ý,Ÿ,ÿ,Ŷ,ŷ,Ź,ź,Ž,ž,Ż,ż" />
    <add key="BlacklistedGoogleAvailabilities" value="outofstock" />
    <add key="MaxTitleLength" value="255" /> <!-- if set to 0, code will ignore this value-->
    <add key="MaxPromotionalTextLength" value="300" /> <!-- if set to 0, code will ignore this value-->
    <add key="PhoenixOnlineBaseUrl" value="" />
    <add key="UrlSuffix" value="" />
    <add key="ImagePathSuffix" value="" />
    <add key="DynamicImagesUrl" value="" />
    <add key="BreadcrumbTrailSplitter" value=" &gt; " />
    <add key="IdTrailSplitter" value="-" />
    <add key="EndecaRootCategoryDimensionId" value="50" />
    <add key="DefaultEGiftCardPrice" value="0.00" />
    <!-- Generated File Settings -->
    <add key="ZipFiles" value="true" />
    <add key="RRFeedGenerator.OutputFolderPath" value="./outputs" />
    <add key="DoneFileFileName" value="execution.done" />
    <add key="FileNameFormat" value="{0}.xml" /><!-- e.g. {0} points to key of a feedGenerationFile entry -->
    <add key="RRFeedGenerator.OutputFileMoveMethod" value="0" /> <!-- 0 for no moving, 1 for FTP, 2 for file copy -->
    <add key="EnableTargetDestinationCheck" value="false" />
    <!-- FTP settings -->
    <add key="RRFeedGenerator.FtpHost" value="ftp://ftp.richrelevance.com" />
    <add key="RRFeedGenerator.FtpDropFolderPath" value="/" />	<!-- Use "/" for the path delimiter. Do not use "\" ! -->
    <add key="RRFeedGenerator.FtpUserName" value="indigo" />
    <add key="RRFeedGenerator.FtpUserPassword" value="jH^.8Pf2eK" />
    <add key="FtpBufferSize" value="4096" />
    <!-- File Copy setting -->
    <add key="RRFeedGenerator.TargetFolderPath" value="\\prdftpsdax01\sftp_RR" />

    <add key="WorkingDirectory" value="./working/" />
    <add key="RRFeedGenerator.ProductFilesPath" value="./working/productfiles" />
    <add key="RRFeedGenerator.AttributeFilesPath" value="./working/attributefiles" />

    <add key="ProductFileBaseName" value="product_full" />
    <add key="AttributeFileBaseName" value="product_attribute" />
    <add key="CategoryFileBaseName" value="product_in_category" />
    
    <add key="ProductCategoryFilesPath" value="./working/productcategoryfiles" />

    <add key="RemoveExecutionFiles" value="true" />
    <add key="ArchiveDirName" value="archive" />

    <add key="ExecutionLogBreadCrumbErrors" value="false" />

    <add key="AllowDeletedCategories" value="true" />
    <add key="AllowAmericanGirlProducts" value="true" />
  </appSettings>

  <feedGenerationFileInstructions>
    <feedGenerationFile key="indigo.ca" aid="0">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspRRFeedBooks" catalogattributesection="booksattributes" ranges="00-04;05-09;10-14;15-19;20-24;25-29;30-34;35-39;40-44;45-49;50-54;55-59;60-64;65-69;70-74;75-79;80-84;85-89;90-94;95-99" />
      <feedGenerationFileLineItem isIncluded="true" catalog="generalMerchandise" storedProcedureName="uspRRFeedGeneralMerchandise" catalogattributesection="generalmerchandiseattributes" ranges="0-99" />
      <feedGenerationFileLineItem isIncluded="true" catalog="generalMerchandiseGiftCard" storedProcedureName="uspRRFeedGeneralMerchandiseGiftCard" catalogattributesection="generalmerchandiseattributes" ranges="0-99" />
    </feedGenerationFile>
  </feedGenerationFileInstructions>
  <booksattributes>
    <add key="gId" value="PID" />
    <add key="title" value="title_en" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="linkCatalog" value="books" />
    <add key="linkCatalogFr" value="livres" />
    <add key="linkSku" value="ISBN13" />
    <add key="secondarySku" value="ISBN" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="contributors" value="Contributors" />
    <add key="bisacbindingtypeid" value="BISACBindingTypeID" />
    <add key="hasImage" value="HasImage" />
    <add key="publisherName" value="PublisherName" />
    <add key="pages" value="pages" />
    <add key="height" value="height" />
    <add key="width" value="width" />
    <add key="depth" value="depth" />
    <add key="imageHeader" value="ImageHeader" />
    <add key="hasDollarDiscount" value="HasDollarDiscount" />
    <add key="NumberOfReviews" value="EnglishCombinedTotalReviews" />
    <add key="AverageRating" value="EnglishAverageRating" />
    <add key="NumberOfReviews_fr" value="FrenchCombinedTotalReviews" />
    <add key="AverageRating_fr" value="FrenchAverageRating" />
  </booksattributes>
  <generalmerchandiseattributes>
    <add key="gId" value="PID" />
    <add key="title" value="Name_en" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="linkCatalog" value="Gifts" />
    <add key="linkCatalogFr" value="articles-cadeaux" />
    <add key="linkSku" value="UPC13" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="gBrand" value="BrandName_en" />
    <add key="recordType" value="RecordType" />
    <add key="title_fr" value="Name_fr" />
    <add key="gBrand_fr" value="BrandName_fr" />
    <add key="imageHeader" value="ImageHeader" />
    <add key="hasDollarDiscount" value="HasDollarDiscount" />
    <add key="NumberOfReviews" value="EnglishCombinedTotalReviews" />
    <add key="AverageRating" value="EnglishAverageRating" />
    <add key="NumberOfReviews_fr" value="FrenchCombinedTotalReviews" />
    <add key="AverageRating_fr" value="FrenchAverageRating" />

    <add key="color_en" value="Colour_en" />
    <add key="color_fr" value="Colour_fr" />
    <add key="size_en" value="Size_en" />
    <add key="size_fr" value="Size_fr" />
    <add key="style_en" value="Style_en" />
    <add key="style_fr" value="Style_fr" />
    <add key="scent_en" value="Scent_en" />
    <add key="scent_fr" value="Scent_fr" />
    <add key="flavor_en" value="Flavour_en" />
    <add key="flavor_fr" value="Flavour_fr" />
  </generalmerchandiseattributes>

  <!--availability dictionary-->
  <stringresourcedictionary>
    <add key="instock" indigovalue="In Stock" googlevalue="in stock"></add>
    <add key="preorder" indigovalue="Pre-Order" googlevalue="preorder"></add>
    <add key="outofstock" indigovalue="out of stock" googlevalue="out of stock"></add>
    <add key="availablefororder" indigovalue="available for order" googlevalue="available for order"></add>
  </stringresourcedictionary>

  <!--// dictionary of product format codes  -->
  <itemformatdict>
    <add key="aa" value="Audio Book" />
    <add key="cd" value="Audio Book" />
    <add key="ya" value="Book &amp; Audio" />
    <add key="bc" value="Book &amp; CD-ROM" />
    <add key="bs" value="Book &amp; Software" />
    <add key="ty" value="Book &amp; Toy" />
    <add key="bv" value="Book &amp; Video" />
    <add key="c1" value="Cassette Abridged" />
    <add key="c2" value="Cassette Unabridged" />
    <add key="c3" value="CD Abridged" />
    <add key="c4" value="CD Unabridged" />
    <add key="eb" value="eBook" />
    <add key="era" value="eReading Accessory" />
    <add key="erd" value="eReading Device" />
    <add key="tc" value="Hardcover" />
    <add key="mm" value="Mass Market" />
    <add key="q" value="Trade Paper" />
    <add key="tp" value="Trade Paperback" />
  </itemformatdict>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" />
        <codeBase version="1.2.10.0" href="lib\log4net.1.2.10\log4net.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
