<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="feedGenerationFileInstructions" type="FeedGenerators.Core.SectionHandlers.FeedGenerationFileInstructionsSectionHandler,FeedGenerators.Core" />
    <section name="toysattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="generalmerchandiseattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="ebooksattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="booksattributes" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
    <section name="stringresourcedictionary" type="Indigo.Feeds.Utils.SectionHandlers.StringResourceSectionHandler, Indigo.Feeds" />
    <section name="itemformatdict" type="FeedGenerators.Core.SectionHandlers.ItemFormatSectionHandler,FeedGenerators.Core" />
  </configSections>
  <connectionStrings>
    <add name="BatchDB" connectionString="Data Source=164SD-9120;Initial Catalog=BatchDB;Integrated Security=SSPI;Connection Timeout=90;" providerName="System.Data.SqlClient" />
    <add name="OdysseyCommerceDB" connectionString="server=164SD-9120;database=Odyssey_Commerce;Integrated Security=TRUE;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FeedId" value="3" />
    <add key="AllowIncrementalRuns" value="true" />
    <add key="IncrementalRunBufferTimeLength" value="7" /> <!-- in hours, integer -->
    <add key="MaximumThreadsToUse" value="4" />
    <add key="FullRunParameterName" value="full" /><!-- Param name for enforcing a full run -->
    <add key="MaximumFeedRunsToKeep" value="10" />
    <add key="CjFeedGenerator.LimitTo100Products" value="false" />
    <add key="CjFeedGenerator.SkipHasImageCheck" value="true" /> <!-- Set to true for testing with a larger set of products. Should be true in production. -->
    <add key="TestIncrementalRunFromDate" value="" /> <!-- Easy way to set an incremental date value. Needs to be set to blank on prod. -->
    <add key="AllowItemErrorsInFiles" value="false" />
    <add key="AllowDeletedCategories" value="true" />
    <add key="AllowRuleOptimizations" value="true" />
    <add key="AllowRuleEntryRemovals" value="true" />
    <add key="AllowAmericanGirlProducts" value="true" />
    <add key="AllowIEnumerableRuleEvaluations" value="true" />
    <add key="SearchDataCommandTimeout" value="12000" /> <!--// sql command timeout in seconds - set to a very high number -->
    <add key="ReplaceSpecialCharacters" value="true" />
    <add key="AllowedSpecialCharacters" value="Ä,ä,À,à,Á,á,Â,â,Ã,ã,Å,å,Ǎ,ǎ,Ą,ą,Ă,ă,Ç,ç,Ć,ć,Ĉ,ĉ,Č,č,Ď,đ,Đ,ď,È,è,É,é,Ê,ê,Ë,ë,Ě,ě,Ę,ę,Ĝ,ĝ,Ģ,ģ,Ĥ,ĥ,Ì,ì,Í,í,Î,î,Ï,ï,Ĵ,ĵ,Ķ,ķ,Ĺ,ĺ,Ļ,ļ,Ł,ł,Ñ,ñ,Ń,ń,Ň,ň,Ö,ö,Ò,ò,Ó,ó,Ô,ô,Õ,õ,Ő,ő,Ø,ø,Ŕ,ŕ,Ř,ř,ẞ,ß,Ś,ś,Ŝ,ŝ,Ş,ş,Š,š,Ť,ť,Ţ,ţ,Ü,ü,Ù,ù,Ú,ú,Û,û,Ű,ű,Ũ,ũ,Ų,ų,Ŵ,ŵ,Ý,ý,Ÿ,ÿ,Ŷ,ŷ,Ź,ź,Ž,ž,Ż,ż" />
    <add key="BlacklistedGoogleAvailabilities" value="outofstock" />
    <add key="MaxTitleLength" value="130" /> <!-- if set to 0, code will ignore this value-->
    <add key="MaxKeywordLength" value="300" /> <!-- if set to 0, code will ignore this value-->
    <add key="MaxPromotionalTextLength" value="300" /> <!-- if set to 0, code will ignore this value-->
    <add key="MaxAdvertiserCategoryLength" value="300" /> <!-- if set to 0, code will ignore this value-->
    <add key="MaxManufacturerLength" value="130" /> <!-- if set to 0, code will ignore this value-->
    <add key="MaxDescriptionLength" value="4000" /> <!-- if set to 0, code will ignore this value-->
    <add key="PhoenixOnlineBaseUrl" value="http://www.chapters.indigo.ca" />
    <add key="UrlSuffix" value="" />
    <add key="ImagePathSuffix" value="?width=200&amp;maxheight=200" />
    <add key="DynamicImagesUrl" value="http://dynamic.indigoimages.ca" />
    <add key="DisplaySalePriceInfo" value="true" />
    <add key="BreadcrumbTrailSplitter" value=" &gt; " />
    <add key="IdTrailSplitter" value="-" />
    <add key="IncrementalRunDeletedProductsStoredProcedureName" value="uspCjFeedGetDeletedItems" />
    <add key="ZeroCommissionListName" value="List_Exclusions" />
    <add key="EndecaRootCategoryDimensionId" value="50" />
    <add key="EntertainmentL1BrowseCategoryId" value="828852" />
    <add key="DefaultEGiftCardPrice" value="0.00" />
    <!-- Generated File Settings -->
    <add key="CjFeedGenerator.AncillaryOutputFolderPath" value="./ancillary" />
    <add key="MissingMerchandiseTypeFileName" value="missing-merchandise-type.txt" />
    <add key="CjFeedGenerator.GzipFiles" value="false" />
    <add key="CjFeedGenerator.OutputFolderPath" value="./outputs" />
    <add key="DoneFileFileName" value="execution.done" />
    <add key="FileNameFormat" value="{0}.xml" /><!-- e.g. {0} points to key of a feedGenerationFile entry -->
    <add key="DocTypeSystemId" value="http://www.jdoqocy.com/content/dtd/product_catalog_data_1_1.dtd" />
    <add key="Cid" value="1666237" />
    <add key="SubId" value="9856" />
    <!--<add key="DateFormatString" value="YYYY-MM-DDTHH24:MI:SS"/>-->
    <add key="DefaultShippingCost" value="0.00" /> <!-- Leaving this empty will exclude the associated XML element from the output files -->
    <add key="CjFeedGenerator.OutputFileMoveMethod" value="0" /> <!-- 0 for no moving, 1 for FTP, 2 for file copy -->
    <!-- FTP settings -->
    <add key="CjFeedGenerator.FtpHost" value="ftp://datatransfer.cj.com" />
    <add key="CjFeedGenerator.FtpDropFolderPath" value="/" />
    <add key="CjFeedGenerator.FtpUserName" value="1666237" />
    <add key="CjFeedGenerator.FtpUserPassword" value="MTwvwRkX" />
    <add key="FtpBufferSize" value="4096" />
    <!-- File Copy setting -->
    <add key="CjFeedGenerator.TargetFolderPath" value="\\prdftpsdax01\sftp_CJ" />
  </appSettings>

  <feedGenerationFileInstructions>
    <feedGenerationFile key="books-00-09" aid="11736486">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="00-04;05-09" />
    </feedGenerationFile>
    <feedGenerationFile key="books-10-19" aid="11736487">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="10-14;15-19" />
    </feedGenerationFile>
    <feedGenerationFile key="books-20-29" aid="11736488">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="20-24;25-29" />
    </feedGenerationFile>
    <feedGenerationFile key="books-30-39" aid="11736489">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="30-34;35-39" />
    </feedGenerationFile>
    <feedGenerationFile key="books-40-49" aid="11736490">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="40-44;45-49" />
    </feedGenerationFile>
    <feedGenerationFile key="books-50-59" aid="11736491">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="50-54;55-59" />
    </feedGenerationFile>
    <feedGenerationFile key="books-60-69" aid="11736492">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="60-64;65-69" />
    </feedGenerationFile>
    <feedGenerationFile key="books-70-79" aid="11736493">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="70-74;75-79" />
    </feedGenerationFile>
    <feedGenerationFile key="books-80-89" aid="11736494">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="80-84;85-89" />
    </feedGenerationFile>
    <feedGenerationFile key="books-90-99" aid="11736495">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBooks" catalogattributesection="booksattributes" ranges="90-94;95-99" />
    </feedGenerationFile>
    <feedGenerationFile key="other-product-types-00-99" aid="11736496">
      <feedGenerationFileLineItem isIncluded="true" catalog="generalMerchandise" storedProcedureName="uspCJFeedGeneralMerchandise" catalogattributesection="generalmerchandiseattributes" ranges="0-99" />
      <feedGenerationFileLineItem isIncluded="true" catalog="generalMerchandise" storedProcedureName="uspCJFeedGeneralMerchandiseGiftCard" catalogattributesection="generalmerchandiseattributes" ranges="0-99" />
    </feedGenerationFile>
    <feedGenerationFile key="bargain-books-00-99" aid="10532739">
      <feedGenerationFileLineItem isIncluded="true" catalog="books" storedProcedureName="uspCJFeedBargainBooks" catalogattributesection="booksattributes" ranges="00-99" />
    </feedGenerationFile>
  </feedGenerationFileInstructions>
  <booksattributes>
    <add key="gId" value="PID" />
    <add key="title" value="title" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="description" value="Description" />
    <add key="linkCatalog" value="books" />
    <add key="linkSku" value="ISBN13" />
    <add key="secondarySku" value="ISBN" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="contributors" value="Contributors" />
    <add key="bisacbindingtypeid" value="BISACBindingTypeID" />
    <add key="hasImage" value="HasImage" />
    <add key="productTypeBaseValue" value="Books" />
    <add key="publisherName" value="PublisherName" />
    <add key="merchandiseType" value="CJ_MERCHANDISETYPE" />
  </booksattributes>
  <generalmerchandiseattributes>
    <add key="gId" value="PID" />
    <add key="title" value="Name_en" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="description" value="Description" />
    <add key="linkCatalog" value="Gifts" />
    <add key="linkSku" value="UPC13" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="gBrand" value="BrandName_en" />
    <add key="productTypeBaseValue" value="Apparel &amp; Accessories" />
    <add key="recordType" value="RecordType" />
    <add key="merchandiseType" value="CJ_MERCHANDISETYPE" />
  </generalmerchandiseattributes>
  <toysattributes>
    <add key="gId" value="PID" />
    <add key="title" value="ToyName" />
    <add key="gProductType" value="BrowseCategories" />
    <add key="description" value="Description" />
    <add key="linkCatalog" value="Toys" />
    <add key="linkSku" value="UPC" />
    <add key="price" value="ListPrice" />
    <add key="adjustedPrice" value="AdjustedPrice" />
    <add key="gAvailability" value="AvailabilityID" />
    <add key="gBrand" value="BrandName_en" />
    <add key="productTypeBaseValue" value="Toys" />
    <add key="recordType" value="RecordType" />
    <add key="merchandiseType" value="CJ_MERCHANDISETYPE" />
  </toysattributes>

  <!--availability dictionary-->
  <stringresourcedictionary>
    <add key="instock" indigovalue="In Stock" googlevalue="in stock"></add>
    <add key="preorder" indigovalue="Pre-Order" googlevalue="preorder"></add>
    <add key="outofstock" indigovalue="out of stock" googlevalue="out of stock"></add>
    <add key="availablefororder" indigovalue="available for order" googlevalue="available for order"></add>
  </stringresourcedictionary>

  <!--// dictionary of product format codes  -->
  <itemformatdict>
    <add key="aa" value="Audio Book" />
    <add key="cd" value="Audio Book" />
    <add key="ya" value="Book &amp; Audio" />
    <add key="bc" value="Book &amp; CD-ROM" />
    <add key="bs" value="Book &amp; Software" />
    <add key="ty" value="Book &amp; Toy" />
    <add key="bv" value="Book &amp; Video" />
    <add key="c1" value="Cassette Abridged" />
    <add key="c2" value="Cassette Unabridged" />
    <add key="c3" value="CD Abridged" />
    <add key="c4" value="CD Unabridged" />
    <add key="eb" value="eBook" />
    <add key="era" value="eReading Accessory" />
    <add key="erd" value="eReading Device" />
    <add key="tc" value="Hardcover" />
    <add key="mm" value="Mass Market" />
    <add key="q" value="Trade Paper" />
    <add key="tp" value="Trade Paperback" />
  </itemformatdict>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" />
        <codeBase version="1.2.10.0" href="lib\log4net.1.2.10\log4net.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
