<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <component
      service="Indigo.Feeds.Generator.Core.Processors.Contracts.IOutputProcessor,Indigo.Feeds.Generator.Core"
      type="Indigo.Feeds.Generator.Core.Processors.OutputXmlProcessor,Indigo.Feeds.Generator.Core"
      lifestyle="singleton">
    </component>
    <!-- Use for Ftp Destination -->
    <component
      type="Indigo.Feeds.Generator.Core.Models.FtpConfiguration,Indigo.Feeds.Generator.Core">
      <parameters>
        <host>#{Destination.FtpHost}</host>
        <userName>#{Destination.FtpUserName}</userName>
        <userPassword>#{Destination.FtpUserPassword}</userPassword>
        <dropFolder>#{Destination.FtpDropFolderPath}</dropFolder>
        <bufferSize>#{Destination.FtpBufferSize}</bufferSize>
      </parameters>
    </component>
    <component
      service="Indigo.Feeds.Generator.Core.Processors.Contracts.IDestinationProcessor`1&#91;&#91;System.IO.FileInfo&#93;&#93;,Indigo.Feeds.Generator.Core"
      type="Indigo.Feeds.Generator.Core.Processors.SftpProcessor,Indigo.Feeds.Generator.Core"
      lifestyle="singleton">
    </component>
    <!-- Use for Network Destination -->
    <!--<component
      type="Indigo.Feeds.Generator.Core.Models.NetworkConfiguration,Indigo.Feeds.Generator.Core">
      <parameters>
        <destination>#{Destination.Network.ShareFolderPath}</destination>
        <allowOverwite>true</allowOverwite>
      </parameters>
    </component>
    <component
      service="Indigo.Feeds.Generator.Core.Processors.Contracts.IDestinationProcessor`1&#91;&#91;System.IO.FileInfo&#93;&#93;,Indigo.Feeds.Generator.Core"
      type="Indigo.Feeds.Generator.Core.Processors.NetworkFolderProcessor,Indigo.Feeds.Generator.Core"
      lifestyle="singleton">
    </component>-->
  </components>
</configuration>
